@charset "UTF-8"; * { margin: 0; padding: 0; } 
.section { position: relative; } 
body { background-color: #1b1b1e; } 
/* ========================================풀페이지 1=======================*/
.section:nth-child(1) { width: 100%; height: 100%; background-color: #1b1b1e; } 
.section .typing { font-size: 100px; color: #fff; text-align: center; font-weight: bold; font-family: "Khand", sans-serif; } 
/* 왼쪽가운데 검은색으로 나타나는 글씨 안보이게 */
.section .typing-txt { visibility: hidden; } 

/* ====================================풀페이지 2===========================*/
.section:nth-child(2) { width: 100%; height: 100%;} 
.section:nth-child(2) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(2) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section:nth-child(2) figure.ToolImgs { margin: 0 auto; display: flex; justify-content: space-between; text-align: center; align-items: center; position: relative; width: 100%; height: 100%; } 
.section:nth-child(2) figure.ToolImgs ul { margin: 0 auto; display: flex; justify-content: space-between; text-align: center; align-items: center; flex-wrap: wrap; justify-content: center; position: relative; width: 65%; } 
.section:nth-child(2) .sectionInner figure.ToolImgs ul li { color: #fff; font-family: "Khand", sans-serif; font-size: 15px; position: relative; text-align: center; display: block; margin: 25px; width: 80px; height: 120px;} 
.section:nth-child(2) .sectionInner figure.ToolImgs ul li img { width: 80px; height: 80px; position: relative; display: flex; text-align: center;  /*justify-content: space-between;*/ } 
.section:nth-child(2) .sectionInner figure.ToolImgs ul li span { top: 15px; position: relative; display: flex; text-align: center; justify-content: center; } 
/* 이미지 호버시 확대 */
figure.ToolImgs li { object-fit: cover; transition-duration: 0.5s; } 
figure.ToolImgs li:hover { transform: scale(1.2, 1.2); transition-duration: 0.3s; }

/* ==================================풀페이지 3~7=============================*/
.section:nth-child(3) { width: 100%; height: 100%; } 
.section:nth-child(3) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(3) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section figure.Projects { position: relative; margin: 0 auto; justify-content: space-between; flex-wrap: wrap; top: 27%; text-align: center; margin: 0 auto; } 
.section figure.Projects>div { overflow: hidden; width: calc(20% - 1px); text-align: center; margin: 0 auto; width: 600px; height: 400px; margin: 40px; } 
figure.Projects img { width: 600px; height: 400px; object-fit: cover; transition-duration: 1s; background-position: center; position: relative; margin: 0 auto; text-align: center; } 
/* figure.Projects img:hover { opacity: 0.5; transform: scale(1.2, 1.2); transition-duration: 0.3s; } */
.section:nth-child(4) { width: 100%; height: 100%; } 
.section:nth-child(4) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(4) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section:nth-child(5) { width: 100%; height: 100%; } 
.section:nth-child(5) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(5) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section:nth-child(6) { width: 100%; height: 100%; } 
.section:nth-child(6) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(6) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section:nth-child(7) { width: 100%; height: 100%; } 
.section:nth-child(7) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(7) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 

/* ================마우스호버시 텍스트나타나기=================== */ 
 /*버튼 */
.ProjectsImg { position: relative; display: inline-block; width: 360px; height: 225px; } 
.ProjectsImg .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: none; } 
.ProjectsImg .overlay p { position: relative; top: 20%; text-align: center; display: flex; color: #fff; z-index: 20; font-weight: 500; font-size: 50px; font-family: "Khand", sans-serif; justify-content: center; margin: 0 auto; opacity: 0.5; }
.ProjectsImg .overlay span { position: relative; top: 60%; text-align: left; display: flex; color: #fff; z-index: 20; font-weight: 500; font-size: 19px; font-family: "Khand", sans-serif; justify-content: center;  opacity: 0.8; }
.ProjectsImg:hover .overlay { display: block; } 
.ProjectsImg .buttons { position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); display: none; gap: 7px; } 
.ProjectsImg img { width: 100%; height: 100%; } 
.ProjectsImg:hover .buttons { display: flex; } 
.ProjectsImg .buttons button { padding: 5px 25px; border: none; border-radius: 50px; outline: none; cursor: pointer; box-shadow: 0 0 5px rgba(0,0,0,0.7); background-color: #2C2843; color: #fff; font-size: 25px; font-family: "Khand", sans-serif; font-weight: 400; } 
.ProjectsImg .buttons button:nth-child(1) { background-color: #ddd; color: #000; } 
.ProjectsImg .buttons button:hover { background-color: #000; color: #fff; }  

/* ====================================풀페이지 8===========================*/
.section:nth-child(8) { width: 100%; height: 100%; background: url("../images/bg.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; } 
.section:nth-child(8) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; } 
.section:nth-child(8) h2.title { width: 100px; color: #fff; font-size: 70px; margin-bottom: 30px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
.section:nth-child(8) .sectionInner .profile_pic { position: absolute; width: 200px; height: 200px; display: flex; bottom: 0; } 
.section:nth-child(8) .sectionInner .profile_p { text-align: right; position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%); } 
.section:nth-child(8) .sectionInner .github_img { width: 30px; height: 30px; right: 10px; top: 5px; position: relative; } 
.section:nth-child(8) .sectionInner .profile_p2 ul { position: relative; top: 0; } 
.section:nth-child(8) .sectionInner .profile_p2 ul li { text-align: center; text-shadow: -2px 4px 3px #000; font-weight: 300; } 
.section:nth-child(8) .sectionInner .profile_p2 ul li:nth-child(1) { font-weight: bold; } 
.section:nth-child(8) .sectionInner .bottomtext { position: absolute; bottom: 0; right: 0; text-align: center; } 
.section:nth-child(8) .sectionInner .bottomtext>a { color: #fff; font-size: 30px; font-family: "Khand", sans-serif; list-style: none; position: relative; top: 0; left: 0; } 
.section:nth-child(8) .sectionInner .bottomtext>a:hover { text-decoration: underline; color: #898989; } 
/* 타이핑효과 */
.sectionInner .profile_p2 ul li { font-size: 40px; color: #fff; text-align: left; font-weight: 500; font-family: "Khand", sans-serif; list-style: none; } 
/* 왼쪽가운데 검은색으로 나타나는 글씨 안보이게 */
.section .profile_p ul li { visibility: hidden; list-style: none; } 

/*========== mobile 구조 ===========*/
 @media (max-width:760px) { /*1 페이지*/
 #fullpage .typing ul li { color: #fff; text-align: center; font-weight: 500; margin: 0 auto; font: 500 50px/1 'Khand'; } 
  /*2*/
  #fullpage .section:nth-child(2) { width: 100%; height: 100%; } 
  #fullpage .section:nth-child(2) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; text-align: center; justify-content: center; } 
  #fullpage .section:nth-child(2) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
  #fullpage .section:nth-child(2) figure.ToolImgs { width: 100%; height: 100%; position: absolute; top: 0; left: 0; } 
  #fullpage .section:nth-child(2) figure.ToolImgs ul { position: relative; display: block; width: 90%; height: 700px; text-align: left; display: flex; flex-wrap: wrap; } 
  #fullpage .section:nth-child(2) figure.ToolImgs ul li { position: relative; left: 0; text-align: left; text-align: left; display: flex; flex-wrap: wrap; width:110px; height: 60px; margin: 0 auto; } 
  #fullpage .section:nth-child(2) figure.ToolImgs ul li img { text-align: left; position: relative; width: 30px; height: 30px; padding: 0; top: 15px; margin: 0; left: 0; } 
  #fullpage .section:nth-child(2) figure.ToolImgs li span { font-size: 9px; text-align: left; position: absolute; left: 48px; margin: 0; top:22px; } 
 /*3~7*/
 #fullpage .section:nth-child(3) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(3) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(3) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: relative; } 
 #fullpage .section:nth-child(4) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(4) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(4) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: relative; } 
 #fullpage .section:nth-child(5) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(5) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(5) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: relative; } 
 #fullpage .section:nth-child(6) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(6) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(6) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: relative; } 
 #fullpage .section:nth-child(7) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(7) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(7) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; border-top: 1px solid #fff; font-family: "Khand", sans-serif; font-weight: 400; position: relative; } 
 .sectionInner figure.Projects { text-align: center; justify-content: center; position: relative; top: 70px; } 
 .sectionInner figure.Projects>div { width: 300px; height: 200px; } 
 .sectionInner figure.Projects .ProjectsImg img { width: 300px; height: 200px; text-align: center; justify-content: center; object-fit: cover; position: relative;} 
 .sectionInner figure.Projects .ProjectsImg .hover_text , 
 .sectionInner figure.Projects .ProjectsImg .hover_text:hover , 
 .sectionInner figure.Projects .ProjectsImg .hover_text:visited { display: none; }
.ProjectsImg { position: relative; display: inline-block; position: relative; top: 0; left: 0; width: 100%; height: 100%; } 
.ProjectsImg .overlay { position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); display: none; width: 300px; height: 200px; } 
.ProjectsImg .overlay p { position: relative; top: 20%; text-align: center; display: flex; color: #fff; z-index: 20; font-weight: 500; font-size: 35px; font-family: "Khand", sans-serif; justify-content: center; margin: 0 auto; opacity: 0.5; }
.ProjectsImg .overlay span { position: relative; top: 45%; text-align: center; display: flex; color: #fff; z-index: 20; font-weight: 500; font-size: 12px; font-family: "Khand", sans-serif; justify-content: center;  opacity: 0.8; }
.ProjectsImg:hover .overlay { display: block; }
.ProjectsImg .buttons button { padding: 5px 25px; border: none; border-radius: 50px; outline: none; cursor: pointer; box-shadow: 0 0 5px rgba(0,0,0,0.7); background-color: #2C2843; color: #fff; font-size: 15px; font-family: "Khand", sans-serif; font-weight: 400; }  

 /*8*/
 #fullpage .section:nth-child(8) { width: 100%; height: 100%; } 
 #fullpage .section:nth-child(8) .sectionInner { width: 95%; height: 95%; margin: 0 auto; position: relative; bottom: 0; } 
 #fullpage .section:nth-child(8) h2.title { top: 0; width: 100px; color: #fff; font-size: 40px; font-family: "Khand", sans-serif; font-weight: 400; position: absolute; } 
 #fullpage .section:nth-child(8) .profile_pic { width: 100px; height: 100px; margin: 0 auto; position: absolute; left: 0; top: 45%; } 
 #fullpage .section:nth-child(8) .profile_p { width: 100%; height: 90%; text-align: right; position: absolute; } 
 #fullpage .section:nth-child(8) .profile_p ul { position: relative; align-items: center; } 
 #fullpage .section:nth-child(8) .profile_p2 { width: 100%; height: 90%; text-align: right; position: absolute; top: 0; } 
 #fullpage .section:nth-child(8) .profile_p2 ul { position: relative; align-items: center; } 
 #fullpage .section:nth-child(8) .profile_p2 ul li { font-size: 25px; text-align: right; line-height: 30px; position: relative; margin: 0 auto; text-shadow: -2px 4px 3px #000; top: 50px; } 
 #fullpage .section:nth-child(8) .sectionInner .bottomtext { position: relative; top: 95%; right: -30%;} 
 }